<div class="container"style="max-width 100px;">
    <h2>Add User</h2>
    <form>
        <p>
            <label>Name :</label>
            <input type="text"class="form-control">
        </p>
        <p>
            <label>Email :</label>
            <input type="email"class="form-control">
        </p>
        <p>
            <label>Phone :</label>
            <input type="number"class="form-control">
        </p>
        <p>
            <input  type="submit"value="Register"class="btn btn-primary">&nbsp;
            <input type="button"value="User List"class="btn btn-secondary"routerLink="/List">
        </p>
    </form>
</div>