<div class="container">
    <h2>List User</h2>
        <input type="button"value="Add"class="btn btn-dark btn-sm"routerLink="/Add">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="btn btn-warning btn-sm"routerLink="/Edit">Edit</span>&nbsp;
                        <span class="btn btn-danger btn-sm">Delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
</div>